<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.balazscsernai.kioskmode">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application android:allowBackup="true"
        android:label="@string/applicationName"
        android:icon="@drawable/ic_kiosk"
        android:theme="@style/ApplicationTheme">

        <activity
            android:name=".KioskModeActivity"
            android:label="@string/applicationName" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".KioskModeReceiver" >
            <intent-filter>
                <action android:name="com.balazscsernai.action.HIDE_NAVIGATION_BAR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name=".KioskModeService" >
        </service>
    </application>

</manifest>
